/*sections*/
body{position:relative;}
.section-home, .section-work, .section-about, .section-contact

/*--NAVIGATION--*/
body{padding-top: 100px;}
/*fullscreen menu*/
#menu {
  background: rgba(208,241,85,.95);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  min-height: 100%;
  padding-top: 80px;
  z-index: 2;
  border-radius: 0;
}
/*hamburger stuff for mobile*/
.navbar-header {float: none;}
    .navbar-toggle {display: block; border: none; margin-top: 24px;}
    .navbar-collapse {border-top: 0px solid transparent; box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);}
    .navbar-collapse.collapse {display: none!important;}
    .navbar-nav {float: none!important; margin: 7.5px -15px;}
    .navbar-nav>li {float: none;}
    .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
    .navbar-collapse {background-color: white;}
    .navbar-collapse.in {background-color: white;display: block !important;}
    .icon-bar {background-color: #4a4a4a !important;}
    .navbar-toggle:focus{background-color: transparent !important;}
      .navbar-toggle:focus .icon-bar {background-color: black !important;}
    .navbar-toggle:hover {background-color: transparent !important;}
      .navbar-toggle:hover .icon-bar {background-color: black !important;}
    .navbar{min-height: 100px; background-color: rgba(255,255,255,.95);}
    /* logo*/
    .navbar-brand img{width: 50px;}
    .navbar-brand{ height: auto; padding-left: 0;}
    #menu li {text-align: center;}
    .nav-pills > li > a:hover, .nav-pills > li > a:focus {background-color: transparent; color: white;}

@media (min-width: 576px) {
  .navbar-header {float: none;}
  .navbar-toggle {display: block;border: 0;}
  .navbar-collapse {box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-collapse.collapse {display: none!important;}
  .navbar-collapse.collapse.in {display: block !important; }
  .navbar-nav {float: right!important; margin: -87px 60px;}
  .navbar-nav>li {float: right;}
  .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}
  .navbar-brand img{width: 65px;}
  .navbar-brand{padding-left: 15px;}
  .navbar{background-color: transparent;}
}
@media (min-width: 1200px) {.navbar-brand img{width: 80px;}}
/*--end nav--*/

/*--hover on work--*/
.hoverable{display: block;}
.parent div{
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
}
.parent:hover > div{
  opacity: 0.3;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
}

.parent:hover > div:hover {
  opacity: 1;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
  cursor: pointer;
}
/*--end hover on work--*/

.material-icons{float: right;}

/*--font-stuff--*/
h2{
  color:#4A4A4A;
}
b{
  font-weight: 500;
}
.secondary-font{font-family: 'Lato', sans-serif; font-weight: 300;}

a.link{
  text-decoration: none;
  border-bottom: 1px solid #D0F346;
  box-shadow: 0 -8px 0 #D0F346 inset;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
  }

  a.link:hover{
    text-decoration: none;
    border-bottom: 1px solid #D0F346;
    box-shadow: 0 -16px 0 #D0F346 inset;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
  }

  /*--layering--*/
  .overlap-up{
    margin-top: -70%;
  }
  .layer-higher{
    z-index: 1;
    height: 300px;
  }
  .portrait{
    width: 100%;
    height: auto;
    max-width: 540px;
    float: right;
  }
/*--mediaqueries--*/
/*Extra small devices (portrait phones, less than 576px)*/
/*No media query since this is the default in Bootstrap*/
h1{font-weight: 500; line-height: 2rem;}
h2{font-size: 1rem; line-height: 1.75rem;}
h3, h4{font-size: 1rem; line-height: 1.5rem;}
.text-align{text-align: left;}
.dot{display: none;}
/*vertical space*/
.spacing-vertical{margin-bottom: 22%;}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  h1{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
  }

  .overlap-up{
    margin-top: -35%;
  }
  }
  /*vertical space (mediaquery 576)*/
  .spacing-vertical{margin-bottom: 10%;}

@media (min-width: 768px) {
.text-align{text-align: right;}
}

@media (min-width: 992px) {
  h1{
    font-size: 3rem;
    line-height: 3.75rem;
    font-weight: 500;
  }

  .overlap-up{
    margin-top: -25%;
  }
  .timeline{border-left: thin solid #EEE;}
  .dot{display: block;}
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  h1{font-size: 3.5rem; font-weight: 500;}
  h2{font-size: 1.25rem; line-height: 2rem;}
  h3{font-size: 1.25rem;}
  /*vertical space (mediaquery 1200)*/
  .spacing-vertical{margin-bottom: 8%;}
  .overlap-up{
    margin-top: -18%;
  }

}



/*--misc--*/
.line{
  height: 8px;
  width: 15%;
  background-color:#D0F346;
}

a, a:hover{text-decoration: none;}


.highlight{
text-decoration: none;
border-bottom: 1px solid #D0F346;
box-shadow: 0 -8px 0 #D0F346 inset;
}


/*--spacing--*/
.spacer-10{margin-top: 10%;}
.spacer-15{margin-top: 15%;}

.mb-0{
  margin-bottom: 0;
}
.mt-0{
  margin-top: 0;
}
.mt-4{
  margin-top: 4px;
}
