
/*01 FONT STUFF*/
h1{font-size: 2rem; line-height: 2.25rem;} /* 32/36px */
h2{font-size: 3rem; line-height: 3.75rem;} /* 48/60px (changes)*/
h3{font-size: 1.25rem; line-height: 2rem;} /* 20 /36px */
h4{font-size: 1.5rem; line-height: 2.25rem; color: #4a4a4a;} /* 24/36px*/
p{font-size: 1.125rem; line-height: 2rem;} /* 18/32px */
h5{font-size: 1rem; line-height: 1.75rem;} /* 16/28px */
h6{ /* 14/24px (changes)*/
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-family: 'Heebo', sans-serif;
  font-weight: 400;
  }
.eyebrow{font-weight: 500; letter-spacing: 0.8px; color: #b7b7b7 !important; margin-bottom: 16px;}
.text-align{text-align: left;}
.secondary-font{font-family: 'Heebo', sans-serif; color: #757575 !important;}
.charspacing{letter-spacing: 0.5px;}
.nolineheight{line-height: 50%;}
b{font-weight: 700;}
a, a:hover{text-decoration: none; color: #757575;}
a.link{
  text-decoration: none;
  border-bottom: 0.25px solid #757575;
  box-shadow: 0 -0.25px 0 #757575 inset;
  padding-bottom: 2px;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
  }

  a.link:hover{
    text-decoration: none;
    border-bottom: 0.25px solid #D0F346;
    box-shadow: 0 -16px 0 #D0F346 inset;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
  }

  a.smalllink{ /*no underline*/
    text-decoration: none;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
    color: #757575;
    }

    a.smalllink:hover{
      text-decoration: none;
      border-bottom: 1px solid #D0F346;
      box-shadow: 0 -16px 0 #D0F346 inset;
      -webkit-transition:.5s;
      -moz-transition:.5s;
      -o-transition:.5s;
      -ms-transition:.5s;
      transition:.5s;
    }

ul ol{
  list-style-type: none;
  font-size: 1.125rem;
  line-height: 2rem;
  }

  ul li{
    color: #757575;
    margin-bottom: 16px;
    background: url(/images/icons/bullet.png) no-repeat left 9px;
    background-size: 4px;
    padding-left: 14px;
    display: block;
  }
  

  ol li{
    margin-bottom: 16px;
  }

.highlight{
  text-decoration: none;
  border-bottom: 1px solid #D0F346;
  box-shadow: 0 -14px 0 #D0F346 inset;
  }

/*font media queries*/
/*Fonts: SMALL MEDIA QUERY*/
@media (min-width: 576px) {
  h1{line-height: 2.5rem;}
}

/*Fonts: MEDIUM MEDIA QUERY*/
@media (min-width: 768px) {
  .text-align{text-align: right;}
  p{font-size: 1rem; line-height: 1.75rem;}
  h6{font-size: 0.75rem;}
}

/*Fonts: LARGE MEDIA QUERY*/
@media (min-width: 992px) {
  h1{font-size: 3rem; line-height: 3.75rem;}
  h4{font-size: 1.5rem; line-height: 2.25rem;} /* 24/36px (changes)*/
}

/*Fonts: XL MEDIA QUERY*/
@media (min-width: 1200px) {
  h1{font-size: 3.25rem; line-height: 4rem;}
}
/*end fontstuffs*/

/*02 SPACING */
.spacer-5{margin-top: 5%;}
.spacer-10{margin-top: 10%;}
.spacerbottom-10{margin-bottom: 10%;}
.spacerbottom-5{margin-bottom: 5%;}
.spacer-15{margin-top: 15%;}
.spacer-3{margin-top: 3%;}

.mb-0{margin-bottom: 0;}
.mb-10{margin-bottom: 10px;}
.mt-0{margin-top: 0;}
.mt-4{margin-top: 4px;}
.mt-8{margin-top: 8px;}
.ml-24{margin-left: 24px}

.spacing-vertical{margin-bottom: 30%;}
.no-padding{padding-left: 0; padding-right: 0;}

/*spacing when anchor link down*/
#section-work::before, #section-about::before{
  display: block;
  content: " ";
  margin-top: -100px;
  height: 100px;
  visibility: hidden;
  pointer-events: none;
}
/*maxwidth for icons on arity page*/
.maxwidth-50{max-width: 50%;}

/*Spacing: MEDIUM MEDIA QUERY*/
@media (min-width: 768px) {
  .spacer-10{margin-top: 5%;}
  .spacer-15{margin-top: 10%;}
  .spacer-gutter{margin-top: 2%;}
  .spacing-vertical{margin-bottom: 20%;}
}

/*Spacing: XL MEDIA QUERY*/
@media (min-width: 1200px) {.spacing-vertical{margin-bottom: 200px;}}
/*end spacing*/

/*03 NAVIGATIONS */

/*sections*/
body{position:relative;}
.section-work, .section-about, .section-contact
body{padding-top: 100px;}
.section-home {padding-top: 20px;}

#navbarSupportedContent{
  min-height: 100%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

    #navbarSupportedContent.collapse{
      background-color: white;
      opacity: 1;
      transition: opacity 0.2s ease;
    }

.navbar {
    width:100%;
    background:none !important;
}
    .navbar-brand{
      height: auto;
      padding-left: 0;
      padding-top: 15px;
    }
      .navbar-brand img{width: 50px;}

    .navbar-toggler {
        cursor:pointer;
        outline:0;
        border: none;
        padding: 0.25rem;
        margin-top: 0px;
    }

    .navbar-nav{
      background-color: white;
      margin-top: 100px;
    }

    .navbar-collapse{
      z-index: 1029;
    }

    .nav-link {
        font-weight:400;
    }

    .nav-item {
        padding: 0.5rem 0;
        font-family: "Lora", serif;
      }

      .parent ul{
        -webkit-transition:.5s;
        -moz-transition:.5s;
        -o-transition:.5s;
        -ms-transition:.5s;
        transition:.5s;
      }
      .parent >li{
        -webkit-transition:.5s;
        -moz-transition:.5s;
        -o-transition:.5s;
        -ms-transition:.5s;
        transition:.5s;
      }
      .parent:hover > li{
        opacity: 0.3;
        -webkit-transition:.5s;
        -moz-transition:.5s;
        -o-transition:.5s;
        -ms-transition:.5s;
        transition:.5s;
      }

      .parent:hover > li:hover {
        opacity: 1;
        -webkit-transition:.5s;
        -moz-transition:.5s;
        -o-transition:.5s;
        -ms-transition:.5s;
        transition:.5s;
        cursor: pointer;
      }
    /*.nav-item a{padding-right: 1rem !important;}
    .nav-item a:hover {
      text-decoration: none;
      border-right: 1px solid #D0F346;
      box-shadow: -4px 0 0 #D0F346 inset;
      -webkit-transition:.5s;
      -moz-transition:.5s;
      -o-transition:.5s;
      -ms-transition:.5s;
      transition:.5s;
    }
*/
/*toggle*/
.icon-bar {
	width: 22px;
	height: 2px;
	background-color: black;
	display: block;
	transition: all 0.2s;
	margin-top: 4px;
  margin-left: 6px;
}

.navbar-toggler {
  border: none;
  background: transparent !important;
  margin-top: 12px;
  height: 40px;
  width: 40px;
}

/*hamburger animation*/

.navbar-toggler .top-bar {
  -webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
	-ms-transform-origin: 10% 10%;
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
}

.navbar-toggler .bottom-bar {
  -webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
	-ms-transform-origin: 10% 90%;
  transform-origin: 10% 90%;

}

.navbar-toggler.collapsed .top-bar {
  -webkit-transform: rotate(0);
	-ms-transform: rotate(0);
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
  -webkit-transform: rotate(0);
	-ms-transform: rotate(0);
}
/*end nav toggle*/


/*.mobilemenu{font-size: 2rem;}
        .submenu{
          padding: 0;
          text-indent: 2rem;
          font-size: 1.125rem;
          line-height: 1.25rem;
          font-family: "heebo";}

          .submenu:before{
            content: "";
            position: absolute;
            left: 0;
            top: calc(50% - 1px);
            width: 1.5rem;
            height: 1px;
            background: #c5c5c5;
          }
*/

/*vertical navigation*/
/*.vert-nav {
  display: none; /*not shown until medium mediaquery
  width:100vh;
  margin-left: 40px;
  margin-top: 115px;
  position:fixed;
  -webkit-transform-origin: left top;
  -webkit-transform:rotate(-90deg) translateX(-100%);
  z-index: 2;
}
ul.vertnav li {
  margin-right:55px;
  float:right;
  height:0.875rem;
  font-size:0.875rem;
  line-height: 0;
  list-style: none;
  background: none;
  font-family: "lora", serif;

}
.vertnav a{
  color: #757575;
}
a.navlink{
  text-decoration: none;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
  }

  a.navlink:hover{
    text-decoration: none;
    border-bottom: 1px solid #D0F346;
    box-shadow: 0 -16px 0 #D0F346 inset;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
  }
/*end vertical navigation*/

/*-Nav: Toggle work
#wrapper {
    padding-left: 200px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 150px;
    width: 200px;
    height: 100%;
    margin-left: -150px;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
}

#menu-toggle.toggled{
  background: #D0F346;
}

/* -Nav: Sidebar Styles

.sidebar-nav {
    position: absolute;
    top: 195px;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

  .sidebar-nav li {
      text-indent: 15px;
      line-height: 48px;
      background: none;
      padding-left: 0;
  }

  .sidebar-nav li a {
      display: block;
      text-decoration: none;
  }

  .sidebar-nav li a:hover {
    text-decoration: none;
    border-left: 1px solid #D0F346;
    box-shadow: 4px 0 0 #D0F346 inset;
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -o-transition:.5s;
    -ms-transition:.5s;
    transition:.5s;
  }

  .sidebar-nav li a:active,
  .sidebar-nav li a:focus {
      text-decoration: none;
  }

/* end work toggle */

/*Nav: mobile hamburger*/
/*-fullscreen menu
#menu {
  background: rgba(255,255,255,.95);
  position: absolute;
  top: 20px;
  right: 0;
  left: 0;
  min-height: 100%;
  padding-top: 80px;
  z-index: 2;
  border-radius: 0;
}
.navbar-header {float: none;}
    .navbar-toggle {display: block; border: none; margin-top: 24px; margin-right: 0 !important;} /*hamburger button area
    .navbar-collapse {border-top: 0px solid transparent; box-shadow: inset 0 0px 0 rgba(255,255,255,0.1);} /*fullscreen takeover bg
    .navbar-collapse.collapse {display: none!important;} /*hiding menu until toggled
    .navbar-nav {float: none!important; margin: 7.5px -15px;}
    .navbar-nav>li {float: none;}
    .navbar-nav>li>a {padding-top: 10px;padding-bottom: 10px;}
    .navbar-collapse.in {background-color: white; display: block !important;}
    .icon-bar {background-color: #4a4a4a !important;}
    .navbar-toggle:focus{background-color: transparent !important;}
      .navbar-toggle:focus .icon-bar {background-color: black !important;}
    .navbar-toggle:hover {background-color: transparent !important;}
      .navbar-toggle:hover .icon-bar {background-color: black !important;}
    .navbar{min-height: 90px; background-color: rgba(255,255,255,.95);}
    /* logo
    .navbar-brand img{width: 50px;}
    .navbar-brand{ height: auto; padding-left: 0;}
    #menu ul{margin-left: 20px;} /*location of the nav items from left
    #menu li {text-align: left; background: none}
    #menu a:hover {color: #D0F346;}
    .nav-pills > li > a:hover, .nav-pills > li > a:focus {background-color: transparent; color: white;}
    .nav li a{padding-left: 0;}
    .mobilemenu{font-size: 2rem;}
      .submenu{
        padding: 0;
        text-indent: 2rem;
        font-size: 1.125rem;
        line-height: 1.25rem;
        font-family: "heebo";}

        .submenu:before{
          content: "";
          position: absolute;
          left: 0;
          top: calc(50% - 1px);
          width: 1.5rem;
          height: 1px;
          background: #c5c5c5;
        }

/*Nav: SMALL MEDIA QUERY
@media (min-width: 576px) {
  .navbar-header {float: none;}
  .navbar-toggle {display: block;border: 0;}
  .navbar-collapse {box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);}
  .navbar-collapse.collapse {display: none!important;}
  .navbar-collapse.collapse.in {display: block !important; }
  .navbar-nav {float: right!important; margin: -87px 60px;}
  .navbar-nav>li {float: right;}
  .navbar-nav>li>a {padding-top: 10px; padding-bottom: 10px;}
  .navbar-brand img{width: 60px;}
  .navbar-brand{padding-left: 0px !important;}
  .navbar{background-color: transparent;}
  #menu ul{margin-left: 60px;} /*location of the nav items from left
}


/*Nav: MEDIUM MEDIA QUERY
@media (min-width: 768px) {.navbar-toggle {display: none;}.navbar-brand{padding-left: 15px !important;}.vert-nav{display: block}}

/*Nav: XL MEDIA QUERY
@media (min-width: 1200px) {.navbar-brand img{width: 60px;}}

/*--end nav--*/

/*04 LAYERING*/
.overlap-up{
  margin-top: -70%;
}
.layer-higher{
  z-index: 1;
  height: 300px;
}
.portrait{
  width: 100%;
  height: auto;
  max-width: 540px;
  float: right;
}


/*LAYERING: SMALL MEDIA QUERY*/
@media (min-width: 576px) {.overlap-up{margin-top: -35%;}
}

/*Layering: LARGE MEDIA QUERY*/
@media (min-width: 992px) {.overlap-up{margin-top: -25%;}
  }

/*Layering: XL MEDIA QUERY*/
@media (min-width: 1200px) {.overlap-up{margin-top: -18%;}
}
/*end layering*/

/*05 HOVERING ON WORK */
.hoverable{display: block;}
.parent div{
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
}
.parent:hover > div{
  opacity: 0.3;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
}

.parent:hover > div:hover {
  opacity: 1;
  -webkit-transition:.5s;
  -moz-transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  transition:.5s;
  cursor: pointer;
}

/*home work thumbnail reveal on hover*/
.hover_img a {}
.hover_img a span {
  position:absolute;
  z-index:99;
  visibility: hidden;
  opacity: 0;
}

/*hover on work: MEDIUM MEDIA QUERY*/
@media (min-width: 768px) {
  .hover_img a:hover span {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease 0.25s;
  }
}
  @media (hover: none) {
     .hover_img a:hover span {
       visibility: hidden;
       opacity: 0;}
     }




/*--end hover on work--*/

/*06 ACCORDION STYLING */
.panel{box-shadow: none;}
.panel-group .panel {
    border-style: none;
}

.panel-default > .panel-heading {
    padding: 0;
    border: none;
}
.panel-title {
  background-color: #ffffff;
  border-top: 1px solid #eeeeee;
}

.panel-title > a {
    display: block;
    padding: 16px 24px 16px 0px;
    text-decoration: none;
    font-size: 1.5rem; line-height: 2.25rem;
}
.more-less {
    float: right;
    color: #000000;
    font-size: 14px;
    margin-top: 10px;
}
.panel-body{
  font-family: "Heebo", sans-serif;
  color: #4a4a4a;
  padding:0;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {border-top: none;}

.panel-title .arrow {
  transition: .3s transform ease-in-out;
}

.panel-title .collapsed .arrow{
  transform: rotate(-180deg);
}

/*end of accordian styling*/


/*07 MISC*/

.float-right{float: right;}

/*--misc--*/
.line{
  height: 8px;
  width: 15%;
  background-color:#D0F346;
}
hr{margin-top: 0;}
.lightgray{color: #b7b7b7;}
.dropshaddow{box-shadow: 0px 3px 15px rgba(0,0,0,0.25)}
video{display: block;}
.videobg{ background-color: #353E55;}
.pink{background-color: pink;}
.inheritsize{font-size: inherit !important;}

.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
.gray{
  background-color: gray;
}
